/* Custom CSS */

a {
    color: rgb(166, 126, 13);
}

a:hover {
    text-decoration: none;
    color: rgb(60, 100, 120);
}

.banner {
    background-color: rgb(62, 96, 111);
    background-image: url('/public/img/flyguys.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    padding-bottom: 100px;
    min-height: 200px;
}

.banner #title, .banner #title a {
    font-size: 48pt;
    color: white;
    font-family: 'Abel', serif;
}

.banner h1, h1 a, h1 a:hover {
    font-family: 'Abel', serif;
    color: black;
}

.banner-other {
    background-color: transparent;
    background-image: url('');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    padding-bottom: 100px;
}

.banner-other #title, .banner #title a {
    font-size: 64pt;
    color: black;
}

.banner-other h1, h1 a, h1 a:hover {
    font-family: 'Abel', serif;
    color: black;
}

body {
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 1.2rem;
}

footer {
    background-color: #272727;
    text-align: center;
    padding: 25px;
    color: gray;
}

footer a {
    color: rgb(166, 126, 13);
}

h1, h2, h3 {
    font-family: 'Abel', serif;
}

.login {
    max-width: 600px;
    padding: 2rem;
}

.login input {
    height: 3rem;
    font-size: 1.2em;
    margin-bottom: 1rem;
}

.navbar, .navbar a {
    color: black;
}

.nav-link {
    font-size: 1.5rem;
    font-family: 'Abel', serif;
    text-transform: uppercase;
    margin-left: 1rem;
}

.nav-link:hover {
    color: rgb(60, 100, 120) !important;
    height: 3.3rem;
    /* background-color: #272727; */
}

.navbar-brand {
    font-size: 1.5rem;
}

.social, .social h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.social i {
    padding: 0, 5rem, 0, 5rem;
}

.social a {
    color: black;
}

.social a:hover {
    color: rgb(60, 100, 120);
}

.spacer {
    height: 3.3rem;
}

/* MOBILE STYLES */


@media only screen and (max-width: 768px) {
    .banner #title, .banner #title a {
        font-size: 42pt;
        color: white;
    }

    .navbar-brand {
        font-size: 1.2rem;
        color: #272727 !important;
    }

    .navbar {
        background-color:rgba(255, 255, 255, 1);
    }

    .nav-link {
        margin: 0;
        color: black !important;
        text-align: center;
    }

    .navbar-nav {
        color: white;
    }

    .navbar-toggler, .navbar-toggler a {
        background-color: transparent;
        color: black;
    }
    button.navbar-toggler-icon {
        color: black !important;
    }
}

@media only screen and (min-width: 769px) {
    nav {
        height: 3.3rem;
    }
}