/* Custom CSS */

a {
    color: rgb(166, 126, 13);
}

a:hover {
    text-decoration: none;
    color: rgb(60, 100, 120);
}

.banner {
    background-color: rgb(62, 96, 111);
    background-image: url('');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    padding-bottom: 100px;
}

.banner #title, .banner #title a {
    font-size: 64pt;
    color: white;
}


.banner h1, h1 a, h1 a:hover {
    font-family: 'Abel', serif;
    color: black;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

footer {
    background-color: #272727;
    text-align: center;
    padding: 25px;
    color: gray;
}

footer a {
    color: white;
}

h1, h2, h3 {
    font-family: 'Abel', serif;
}

/*
nav {
    background-color: rgb(44, 93, 97);
    padding: 25px;
}
*/

.nav-link {
    text-transform: uppercase;
}

.social, .social h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.social i {
    padding: 0, 5rem, 0, 5rem;
}

.social a {
    color: black;
}

.social a:hover {
    color: rgb(60, 100, 120);
}


/* MOBILE STYLES */


@media only screen and (max-width: 768px) {
    .banner #title, .banner #title a {
        font-size: 42pt;
        color: black;
    }
}