{{define "title-tpl"}}
Home - Blast Beats and Code | Software and Game Developer Alex Silcott
{{end}}


{{define "banner-tpl"}}
<div class="banner">
    <div class="container">
            <span id="title">Home</span>

        <p>The strange endeavors of a nerdy developer who also likes really bad music.</p>
    </div>
</div>
{{end}}

{{define "content-tpl"}}
Home content
{{end}}
