{{define "title-tpl"}}
Projects - Blast Beats and Code | Software and Game Developer Alex Silcott
{{end}}

{{define "banner-tpl"}}
<div class="banner-other">
    <div class="container">
        <span id="title">Projects</span>
    </div>
</div>
{{end}}

{{define "content-tpl"}}
Project content
{{end}}
